@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(9, 9, 9);
  background: linear-gradient(
    53deg,
    rgba(9, 9, 9, 1) 4%,
    rgba(13, 12, 12, 1) 22%,
    rgba(89, 87, 85, 1) 77%,
    rgba(181, 181, 181, 1) 98%
  );
  font-family: "Poppins";
  color: white;
  overflow: hidden;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/montblanc.png) no-repeat;
  background-size: cover;
  position: relative;
  width: 700px;
  height: 700px;
}

.first-header {
  position: absolute;
  top: 40px;
  display: flex;
  width: 100%;
}

.watch-brand {
  flex: 1 1 65%;
  padding: 20px 30px;
}

.watch-brand h2 {
  text-transform: uppercase;
  font-size: 26px;
}

.watch-brand p {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(112, 112, 112);
  width: fit-content;
  font-weight: 300;
}

.watch-brand .next {
  margin-top: 10px;
}

.skip {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
}

.bubble {
  background-color: rgba(181, 181, 181, 0.2);
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
  top: -90px;
  right: -100px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.btn-bottom {
  position: absolute;
  bottom: 60px;
}

input[type="checkbox"] {
  position: relative;
  width: 350px;
  height: 70px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #1a1a1a;
  outline: none;
  border-radius: 30px;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: rgb(212, 212, 212);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:before {
  content: "Get Started";
  position: absolute;
  width: 200px;
  height: 70px;
  background: #fcc873;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]:before {
  left: 43%;
}
