@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(9, 9, 9);
  background: linear-gradient(
    53deg,
    rgba(9, 9, 9, 1) 4%,
    rgba(13, 12, 12, 1) 22%,
    rgba(89, 87, 85, 1) 77%,
    rgba(181, 181, 181, 1) 98%
  );
  font-family: "Poppins";
  color: white;
  overflow: hidden;
}

.banner {
  overflow: hidden;
}

.clock {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/montblanc.png);
  background-position: center left;
  background-size: cover;
  position: relative;
  transition: all 0.5s ease;
}

.first-header {
  position: absolute;
  top: 0;
  padding-top: 4%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  min-height: 20%;
  overflow: hidden;
  transition: all 0.5s ease;
}

.watch-brand {
  padding: 0 8%;
}

.watch-brand h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 8px;
}

.watch-brand p {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(112, 112, 112);
  width: fit-content;
  font-weight: 300;
  font-size: 12px;
}

.watch-brand .next {
  margin-top: 10px;
}

.bubble {
  background-color: rgba(181, 181, 181, 0.2);
  width: 170px;
  height: 170px;
  position: absolute;
  z-index: 10;
  top: -50px;
  right: -70px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  overflow: hidden;
}

.skip {
  position: relative;
  width: 100%;
  height: 100%;
}

.skip-text {
  z-index: 100;
  color: white;
  position: absolute;
  top: 50%;
  left: 25%;
  font-weight: 100;
}

.btn-bottom {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  bottom: 60px;
  transition: all 0.5s ease;
}

input[type="checkbox"] {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #1a1a1a;
  outline: none;
  border-radius: 30px;
  transition: all 0.5s ease;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: rgb(212, 212, 212);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:before {
  content: "Get Started";
  position: absolute;
  width: 57%;
  height: 100%;
  background: #fcc873;
  border-radius: 30px;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"]:before {
  left: 44%;
}

@media (min-width: 375px) {
  .first-header {
    padding-top: 10%;
  }

  .btn-bottom {
    height: 60px;
  }
}

@media (min-width: 425px) {
  .watch-brand h2 {
    font-size: 25px;
  }

  .watch-brand p {
    font-size: 15px;
  }

  .btn-bottom {
    height: 70px;
    width: 340px;
  }

  input[type="checkbox"]:before {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .watch-brand h2 {
    font-size: 35px;
    transition: all 0.5s ease;
  }

  .watch-brand p {
    font-size: 20px;
    transition: all 0.5s ease;
  }

  .btn-bottom {
    height: 70px;
    width: 400px;
  }

  .bubble {
    width: 220px;
    height: 220px;
    right: -90px;
    transition: all 0.5s ease;
  }

  span {
    font-size: 20px;
  }

  input[type="checkbox"]:before {
    font-size: 22px;
  }
}
